<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Home Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <h1>Welcome to the Event Management App</h1>

    <nav>
        <ul>
            <li><a href="/organiser-home">Organiser Home Page</a></li>
            <li><a href="/attendee">Attendee Home Page</a></li>
        </ul>
    </nav>

</body>
</html>
